.Management {
  width: 100%;
  height: 100%;
}
.ManagementMain {
  width: 960px;
  margin: 0 auto;
}
.Management .Container {
  margin-top: 80px;
  padding: 0;
}
.Management .text-center {
  margin-bottom: 10px;
}
.Management .badge-primary {
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 0;
  border-top-left-radius: 3px;
}
.Management .btn-primary {
  margin-right: 20px !important;
}
.emptyGit {
  max-width: 640px;
  margin: 0 auto;
  background: white;
}
.emptyGit img {
  width: 640px;
}
@media (max-width: 570px) {
  .emptyGit img {
    width: 500px;
  }
}
@media (max-width: 414px) {
  .emptyGit img {
    width: 400px;
  }
}
