.mb-3 {
  max-width: 640px;
  margin: auto;
  margin-top: 10px;
}
.card-img {
  max-height: 120px;
  margin: 10px 0 10px 5px;
}
.no-gutters:hover {
  box-shadow: 0 0 5px #ccc;
  background: rgba(225, 225, 225, 0.2);
}
.ShowBox {
  width: 500px;
  height: 150px;
  margin: auto;
  text-align: center;
  margin-top: 80px;
  margin-bottom: 20px;
  background: white;
  border-radius: 5px;
  box-shadow: 0 0 2px #ccc;
}
.ShowBox p {
  height: 20px;
  color: #ccc;
}
.searchGif {
  width: 200px;
  height: 150px;
}
